{{ define "login_content" }}


<div id="app"></div>

<!-- Initialize Clerk with your
Clerk Publishable Key and Frontend API URL -->
<script
  async
  crossorigin="anonymous"
  data-clerk-publishable-key="{{ .clerkPublishableKey }}"
  src="https://ultimate-kid-24.clerk.accounts.dev/npm/@clerk/clerk-js@latest/dist/clerk.browser.js"
  type="text/javascript"
></script>

<script>
  window.addEventListener('load', async function () {
    await Clerk.load()

    if (Clerk.user) {
      // Redirect to dashboard if user is already logged in
      window.location.href = '/dashboard';
    } else {
      document.getElementById('app').innerHTML = `
        <div id="sign-in"></div>
      `

      const signInDiv = document.getElementById('sign-in')
      
      const signIn = Clerk.mountSignIn(signInDiv);
      
      // Listen for sign-in completion
      if (signIn) {
        signIn.on('complete', () => {
          window.location.href = '/dashboard';
        });
      }
    }
  })
</script>



{{ end }}